/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media only screen and (max-width: 991px) {
  .top-bar-area{
    display:none;
  }
  nav .nav-link {
     -webkit-margin-start: 0;
             margin-inline-start: 0;
    color: rgb(0, 0, 0);
    display: inline-block;
    -webkit-margin-after: 10px;
            margin-block-end: 10px;
  }
  nav{
    -webkit-margin-before: 0;
            margin-block-start: 0;
  }

  .our-features .feature-item .info{
    height: 400px;
  }

  .left-info{
    position: unset;
    top: unset;
    left:unset;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }

  .contact .contact-items {
    padding: 80px;
    bottom: 0;
    -webkit-margin-before: -100px;
            margin-block-start: -100px;
    -webkit-margin-after: 60px;
            margin-block-end: 60px;
  }
}

@media only screen and (max-width: 767px) {
 .our-features .feature-item .info{
  height: 300px;
}
/* Contact */
.contact .left-item {
  -webkit-padding-end: 15px;
          padding-inline-end: 15px;
}

.contact .contact-items {
  padding: 50px 30px;
}

.contact .right-item {
  -webkit-margin-before: 50px;
          margin-block-start: 50px;
  text-align: center;
}

.contact .contact-items .item {
  display: block;
}

.contact .contact-items .item i {
  margin-right: 0;
  -webkit-margin-after: 25px;
          margin-block-end: 25px;
}

.google-maps iframe {
  height: 450px;
}

/* Quick Contact */
.quick-support-area {
  padding: 60px 0;
}

.quick-support-area .fixed-shape {
  display: none;
}

.services-details-items .services-sidebar {
  -webkit-padding-end:12px;
          padding-inline-end:12px;
}
}

@media only screen and (max-height: 600px) {
 .landing p {
  font-size: 12px;
 }
 .landing h1 {
  font-size: 22px;
 }
 .landing a {
  padding: 10px !important;
  font-size: 13px;
 }
}


@media only screen and (max-width: 480px) {
  .notfound {
    text-align: center;
  }
  .notfound .notfound-404 {
    position: relative;
    width: 100%;
    -webkit-margin-after: 15px;
            margin-block-end: 15px;
  }
  .notfound {
    -webkit-padding-start: 15px;
            padding-inline-start: 15px;
    -webkit-padding-end: 15px;
            padding-inline-end: 15px;
  }
}
